<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Decks</title>
</head>
<body>
    <h1>All Decks</h1>
    <a href="/decks/new">Create New Deck</a>
    
    <ul>
        <li th:each="deck : ${decks}">
            <a th:href="@{/decks/{id}(id=${deck.id})}" th:text="${deck.name}"></a>
            <a th:href="@{/decks/new(parentId=${deck.id})}">Add Subdeck</a>
            <a th:href="@{/decks/{id}/flashcards(id=${deck.id})}">View Flashcards</a>
            <a th:href="@{/decks/{id}/delete(id=${deck.id})}" onclick="return confirm('Are you sure?')">Delete</a>
        </li>
    </ul>
</body>
</html>